/* webアップ */
/* ヘッダー */
body {
  width: 100%;
}

.menu {
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.header-logo {
  align-items: center;
}


/* ---ボタン--- */
#open,
#open2 {
  /* margin-right: 10px; */
  padding: 12px;
  background: linear-gradient(to right, #1760a0, #4699ca);
  margin: 10px 5%;
  border-radius: 50px;
  max-width: 170px;
  width: 100%;
  text-align: center;
  box-shadow: 10px 10px 10px 0 rgba(60, 194, 235, 0.8);
  color: #FFFFFF;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
}

#open .vanish {
  display: none;
}

/* ----ヘッダー--- */
.header-menu {
  justify-content: space-between;
  display: flex;
}

.header-menu-week {
  color: #97b9d1;
}

/* モーダルウィンドウ */


/* オーバーレイ */
.overlay,
.overlay2 {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: .3s;
}

/* activeクラスのついたオーバーレイ */
.overlay.active,
.overlay2.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ */
.modal,
.modal2,
.modal3 {
  max-width: 900px;
  width: 86%;
  padding: 56px;
  background: #fff;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  transition: .3s;
  border-radius: 20px;
  /* ２分割したい */
  display: grid;
  /* 右と左に分ける  1対1対 */
  grid-template-columns: 1fr 1fr;
}

/* .modal3 {
  display: none;
} */

.modal3.active {
  display: block;
}

/* activeクラスのついたモーダルウィンドウ */
.modal.active,
.modal2.active,
.modal3.active {
  opacity: 1;
  visibility: visible;
}

/* モーダルウィンドウ内の閉じるボタン */
.modal .close,
.modal .close2,
.modal3.close3 {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #E3EAF0;
}

.modal h2,
.modal2 h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.modal p,
.modal2 p {
  font-size: 20px;
}

/* スクロールできる高さを出すための設定 */
section {
  height: 200vh;
}

/* ---オーバーレイ--- */
.overlay,
.overlay2,
.overlay3 {
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
}

.overlay,
.overlay2,
.overlay3 {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);
}

/* ---オーバーレイ--- */
.overlay,
.overlay2,
.overlay3 {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);
}

/* チェックボックスの選択肢をまるで囲む */
/* チェックボックスデザイン */
/* 元々のチェックボックス（非表示） */
/* .studycontent input[type="checkbox"],
   .language input[type="checkbox"],
   .twittershare input[type="checkbox"]{
     display: none;
   } */

input[type='checkbox'] {
  display: none;
}

/* チェックボックスの代わりを成すラベル */
.studycontent input[type="checkbox"]+label,
.language input[type="checkbox"]+label,
.twittershare input[type="checkbox"]+label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}

/* ラベルの左に表示させる正方形のボックス□ */
.studycontent input[type="checkbox"]+label::before,
/* .language input[type="checkbox"]+label::before, */
.twittershare input[type="checkbox"]+label::before,
.sample1::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color: #325aa8;
  background-color: #325aa8;
  border-radius: 50%;
}

/* チェックが入った時のレ点 */
.studycontent input[type="checkbox"]:checked+label::after,
.language input[type="checkbox"]:checked+label::after,
.twittershare input[type="checkbox"]:checked+label::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #fff;
  /* チェックの色変更 お好きな色を */
}

.modal_right {
  padding-left: 40px;
}

/* 中を灰色にする */
input {
  background-color: #E3EAF0;
}

.modal_left input {
  height: 40px;
}

.modal_right_1 input {
  height: 40px;
}

.modal_right_2 input {
  height: 100px;
}

/* テキストボックスを角丸にする */
.modal_date,
.modal_time,
.modal_comment {
  border-radius: 15px;
  border: 1px solid #E3EAF0;
}

/* デフォルトの角丸をなくす */
.modal_date,
.modal_time:focus,
.modal_comment:focus {
  outline: 0;
}

/* テキストボックスのサイズを指定する */
.modal_date {
  width: 100%;
}

.modal_time {
  width: 100%;
}

.modal_comment {
  width: 100%;
  height: 120px;
}

body {
  margin: 0;
}

.container {
  /* position: relative; */
  /* max-width: 1400px; */
  margin: 0 auto;
  display: grid;
  gap: 20px;
  padding-top: 50px;
  /* 右と左に分ける  1対1対 */
  grid-template-columns: 1fr 1fr;
  background-color: #E3EAF0;
}

.box-wrapper1 {
  display: grid;
  gap: 20px;
}

.hour {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 100px;
  padding: 0;
  margin: 0;
}

.box-hour {
  /* 文字を中央揃え */
  text-align: center;
}

.box-hour-all {
  padding-top: 15px;
}

.box-hour-1 {
  color: #1760a0;
  font-weight: 600;
  font-size: 20px;
}

.box-hour-2 {
  font-weight: 800;
  font-size: 40px;
}

.box-hour-3 {
  color: #ccc;
  font-weight: 600;
  font-size: 20px;
}

.box-hour {
  background-color: #fff;
  list-style: none;
  /* box-shadow: 左右の向きpx  上下の向きpx ぼかしpx 広がりpx 色 内側指定; */
  box-shadow: 0 0 8px gray;
  border-radius: 20px;
  height: 150px;
  text-align: center;
}

.box2 {
  background-color: #fff;
  height: 350px;
  margin-top: 50px;
}

.box-wrapper2 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  height: 520px;
}

.box3 {
  background-color: #fff;
}

/* エラーページ */
.error_content {
  padding-top: 150px;
  text-align: center;
}

/* ----ローディング---- */
.loader {
  margin: 0 0 2em;
  height: 200px;
  width: 40%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
    Set the color of the icon
  */
svg path,
svg rect {
  fill: #1760a0;
}


/* ----棒グラフ---- */
#ex_chart {
  max-width: 640px;
  max-height: 480px;
}

/* 学習言語の位置 */
.box3 h2 {
  padding-left: 15px;
  padding-top: 15px;
}

/* 2020年10月 */
.month-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid #325aa8;
  border-bottom: 10px solid transparent;
}

.month-right {
  width: 0;
  height: 0;
  border-left: 10px solid #97b9d1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.month {
  display: flex;
  justify-content: center;
  padding-bottom: 30%;
  padding-left: 150px;
  padding-top: 40px;
}

.month-Wrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

/* ---記録・完了しました--- */
.afterlording-complete {
  text-align: center;
  padding-top: 20%;
  /* TOPから消した */
  /* display: none; */
}


/* -----------レスポンシブ----------------- */
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  body {
    width: 100%;
  }
  
  .menu {
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .header-logo {
    align-items: center;
  }
  
  
  /* ---ボタン--- */
  #open,
  #open2 {
    /* margin-right: 10px; */
    padding: 12px;
    background: linear-gradient(to right, #1760a0, #4699ca);
    margin: 10px 5%;
    border-radius: 50px;
    max-width: 170px;
    width: 100%;
    text-align: center;
    box-shadow: 10px 10px 10px 0 rgba(60, 194, 235, 0.8);
    color: #FFFFFF;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  #open .vanish {
    display: none;
  }
  
  /* ----ヘッダー--- */
  .header-menu {
    justify-content: space-between;
    display: flex;
  }
  
  .header-menu-week {
    color: #97b9d1;
  }
  
  /* モーダルウィンドウ */
  /* オーバーレイ */
  .overlay,
  .overlay2 {
    /* 位置を固定 */
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに広がるようにする */
    width: 100%;
    height: 100vh;
    /* rgbaを使って60%の黒いオーバーレイにする */
    background: rgba(0, 0, 0, 0.6);
    /* デフォルトでは見えないようにする */
    opacity: 0;
    visibility: hidden;
    /* 表示する際の変化の所要時間 */
    transition: .3s;
  }
  
  /* activeクラスのついたオーバーレイ */
  .overlay.active,
  .overlay2.active {
    /* activeクラスがついたときにオーバーレイを表示する */
    opacity: 1;
    visibility: visible;
  }
  
  /* モーダルウィンドウ */
  .modal,
  .modal2,
  .modal3 {
    max-width: 900px;
    width: 86%;
    padding: 56px;
    background: #fff;
    /* 位置の調整(真ん中に表示) */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* デフォルトでは非表示にしておく */
    opacity: 0;
    visibility: hidden;
    /* 表示の変化にかかる時間 */
    transition: .3s;
    border-radius: 20px;
    /* ２分割したい */
    display: grid;
    /* 右と左に分ける  1対1対 */
    grid-template-columns: 1fr 1fr;
  }
  
  /* .modal3 {
    display: none;
  } */
  
  .modal3.active {
    display: block;
  }
  
  /* activeクラスのついたモーダルウィンドウ */
  .modal.active,
  .modal2.active,
  .modal3.active {
    opacity: 1;
    visibility: visible;
  }
  
  /* モーダルウィンドウ内の閉じるボタン */
  .modal .close,
  .modal .close2,
  .modal3.close3 {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #E3EAF0;
  }
  
  .modal h2,
  .modal2 h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  .modal p,
  .modal2 p {
    font-size: 20px;
  }
  
  /* スクロールできる高さを出すための設定 */
  section {
    height: 200vh;
  }
  
  /* ---オーバーレイ--- */
  .overlay,
  .overlay2,
  .overlay3 {
    /* デフォルトでは見えないようにする */
    opacity: 0;
    visibility: hidden;
  }
  
  .overlay,
  .overlay2,
  .overlay3 {
    /* 位置を固定 */
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに広がるようにする */
    width: 100%;
    height: 100vh;
    /* rgbaを使って60%の黒いオーバーレイにする */
    background: rgba(0, 0, 0, 0.6);
  }
  
  /* ---オーバーレイ--- */
  .overlay,
  .overlay2,
  .overlay3 {
    /* 位置を固定 */
    position: fixed;
    top: 0;
    left: 0;
    /* 画面いっぱいに広がるようにする */
    width: 100%;
    height: 100vh;
    /* rgbaを使って60%の黒いオーバーレイにする */
    background: rgba(0, 0, 0, 0.6);
  }

  input[type='checkbox'] {
    display: none;
  }
  
  /* チェックボックスの代わりを成すラベル */
  .studycontent input[type="checkbox"]+label,
  .language input[type="checkbox"]+label,
  .twittershare input[type="checkbox"]+label {
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
  }
  
  /* ラベルの左に表示させる正方形のボックス□ */
  .studycontent input[type="checkbox"]+label::before,
  /* .language input[type="checkbox"]+label::before, */
  .twittershare input[type="checkbox"]+label::before,
  .sample1::before {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 0;
    top: 50%;
    border: 1px solid;
    border-color: #325aa8;
    background-color: #325aa8;
    border-radius: 50%;
  }
  
  /* チェックが入った時のレ点 */
  .studycontent input[type="checkbox"]:checked+label::after,
  .language input[type="checkbox"]:checked+label::after,
  .twittershare input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -9px;
    top: 50%;
    left: 3px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: #fff;
    /* チェックの色変更 お好きな色を */
  }
  
  .modal_right {
    padding-left: 40px;
  }
  
  /* 中を灰色にする */
  input {
    background-color: #E3EAF0;
  }
  
  .modal_left input {
    height: 40px;
  }
  
  .modal_right_1 input {
    height: 40px;
  }
  
  .modal_right_2 input {
    height: 100px;
  }
  
  /* テキストボックスを角丸にする */
  .modal_date,
  .modal_time,
  .modal_comment {
    border-radius: 15px;
    border: 1px solid #E3EAF0;
  }
  
  /* デフォルトの角丸をなくす */
  .modal_date,
  .modal_time:focus,
  .modal_comment:focus {
    outline: 0;
  }
  
  /* テキストボックスのサイズを指定する */
  .modal_date {
    width: 100%;
  }
  
  .modal_time {
    width: 100%;
  }
  
  .modal_comment {
    width: 100%;
    height: 120px;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    /* position: relative; */
   width: 480px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    padding-top: 50px;
    /* 右と左に分ける  1対1対 */
    grid-template-columns: 1fr;
    background-color: #E3EAF0;
  }
  
  .box-wrapper1 {
    display: grid;
    gap: 20px;
  }
  
  .hour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 100px;
    padding: 16px;
    margin: 0;
  }
  
  .box-hour {
    /* 文字を中央揃え */
    text-align: center;
  }
  
  .box-hour-all {
    padding-top: 20px;
  }
  
  .box-hour-1 {
    color: #1760a0;
    font-weight: 490;
    font-size: 20px;
  }
  
  .box-hour-2 {
    font-weight: 600;
    font-size: 30px;
  }
  
  .box-hour-3 {
    color: #ccc;
    font-weight: 490;
    font-size: 20px;
  }
  
  .box-hour {
    background-color: #fff;
    list-style: none;
    /* box-shadow: 左右の向きpx  上下の向きpx ぼかしpx 広がりpx 色 内側指定; */
    box-shadow: 0 0 8px gray;
    border-radius: 20px;
    height: 130px;
    width: 115px;
    text-align: center;
  }
  
  .box2 {
    background-color: #fff;
    height: 200px;
    margin-top: 32px;
  }
  
  .box-wrapper2 {
    /* 円グラフ横並び */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    height: 200px;
  }
  
  .box3 {
    background-color: #fff;
  }
  
  /* エラーページ */
  .error_content {
    padding-top: 150px;
    text-align: center;
  }
  
  /* ----ローディング---- */
  .loader {
    margin: 0 0 2em;
    height: 200px;
    width: 40%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  
  /*
      Set the color of the icon
    */
  svg path,
  svg rect {
    fill: #1760a0;
  }
  
  
  /* ----棒グラフ---- */
  #ex_chart {
    max-width: 640px;
    max-height: 480px;
  }
  
  /* 学習言語の位置 */
  .box3 h2 {
    padding-left: 15px;
    padding-top: 15px;
  }
  
  /* 2020年10月 */
  .month-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #325aa8;
    border-bottom: 10px solid transparent;
  }
  
  .month-right {
    width: 0;
    height: 0;
    border-left: 10px solid #97b9d1;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  
  .month {
    display: flex;
    justify-content: center;
    padding-bottom: 30%;
    padding-left: 150px;
    padding-top: 40px;
  }
  
  .month-Wrapper {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  
  /* ---記録・完了しました--- */
  .afterlording-complete {
    text-align: center;
    padding-top: 20%;
    /* TOPから消した */
    /* display: none; */
  }
  



}